.loginPage
    display: flex
    flex-direction: column
    align-items: center

    &__title
        color: #FFF
        font-size: clamp(20px, 2.08vw, 40px)
        font-weight: 700
        margin-top: clamp(35px, 6.51vw, 125px)
        margin-bottom: 0

    &__wrapper
        padding-top: clamp(25px, 2.6vw,50px)
        width: clamp(250px, 23.44vw, 450px)

    &__panel
        display: flex
        justify-content: center
        background: linear-gradient(180deg, rgba(167, 167, 172, 0.13) 0%, rgba(29, 29, 53, 0.90) 100%)
        box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.50)
        &-form
            display: flex
            flex-direction: column
            align-items: center
            padding: clamp(10px, 3.18vw, 61px) 0 clamp(11px, 3.39vw, 65px) 0
            label
                color: #FFF
                text-align: center
                font-size: clamp(18px, 1.25vw, 24px)
                font-weight: 700

            &-labelPassword
                padding-top: clamp(20px, 1.56vw, 30px)
            &-input
                margin-top: clamp(15px, 1.56vw, 30px)
                padding: clamp(3px, 0.42vw,8px) clamp(8px, 1.04vw, 20px) clamp(3px, 0.42vw,8px) clamp(8px, 1.04vw, 20px)
                width: clamp(200px, 16.93vw, 325px)
                border-radius: 4px
                background: #FFF
                color: #000
                font-size: clamp(16px, 1.25vw, 24px)
                font-weight: 400
                border: none
                appearance: none
            &-input:focus
                outline: none
                box-shadow: 0 0 0 1px #fff, 0 0 0 2px #FF5F13
            button
                margin-top: clamp(18px, 1.25vw, 24px)
                width: clamp(120px, 9.64vw, 185px)
                height: clamp(34px, 2.34vw, 45px)
                color: #000
                text-align: center
                font-size: clamp(18px, 1.25vw, 24px)
                font-weight: 400
                border-radius: 4px
                background: #FFF
        &-error
            padding-top: clamp(10px, 1.35vw, 26px)
            color: #F21919
            font-size: clamp(12px, 0.94vw, 18px)
            font-weight: 400
        .errorMessage
            color: #F21919
            padding-top: 5px
