.adminItem
    width: clamp(320px, 23.54vw, 452px)
    display: flex
    padding-top: 18px

    &__label
        display: block
        width: clamp(275px, 17.4vw, 334px)
        color: #FFF
        font-size: clamp(12px, 0.83vw, 16px)
        font-weight: 400
    &__input
        margin-right: 5px
        width: clamp(40px, 3.44vw, 66px)
        color: white
        text-align: center
        font-family: 'Helvetica'
        font-size: clamp(14px, 0.94vw, 18px)
        font-weight: 700
        background: none
        border: none
        border-bottom: 1px solid #ccc
    &__input::placeholder
        color: rgba(255, 254, 254, 0.50)
    &__input:focus
        border: none
        border-bottom: 1px solid #FF5F13
        outline: none
    &__unit
        width: clamp(40px, 2.45vw, 47px)
        color: #FFF
        font-size: clamp(10px, 0.73vw, 14px)
        font-weight: 700
