.loader
    width: 48px
    height: 12px
    background: #6ebeff
    margin-top: 40px
    display: inline-block
    position: relative

    &::after
        content: ''
        left: 50%
        bottom: 0
        transform: translate(-50%, 0)
        position: absolute
        border: 15px solid transparent
        border-top-color: #6ebeff
        box-sizing: border-box
        animation: bump 0.4s ease-in-out infinite alternate

    &::before
        content: ''
        left: 50%
        bottom: 25px
        transform: translate(-50%, 0)
        position: absolute
        width: 15px
        height: 20px
        background: #6ebeff
        box-sizing: border-box
        animation: bump 0.4s ease-in-out infinite alternate

@keyframes bump
    0%
        transform: translate(-50%, 5px)

    100%
        transform: translate(-50%, -5px)
