.squareContentItem
    width: clamp(300px, 21.04vw, 404px)
    display: flex
    padding-top: clamp(12px, 1.35vw, 26px)

    &__label
        display: block
        width: clamp(245px, 16.04vw, 308px)
        color: #FFF
        font-size: clamp(15px, 0.93vw, 18px)
        font-weight: 400

    &__input
        margin-right: clamp(3px, 0.42vw, 8px)
        width: clamp(40px, 3.44vw, 66px)
        color: white
        text-align: center
        font-family: 'Helvetica'
        font-size: clamp(15px, 0.93vw, 18px)
        font-weight: 700
        background: none
        border: none
        border-bottom: 1px solid #ccc

    &__input::placeholder
        color: rgba(255, 254, 254, 0.50)

    &__input:focus
        border: none
        border-bottom: 1px solid #FF5F13
        outline: none

    &__unit
        width: clamp(20px, 1.25vw, 24px)
        color: #FFF
        font-size: clamp(15px, 0.94vw, 18px)
        font-weight: 700
