.squareContentItem
    width: 404px
    display: flex
    padding-top: 26px

    &__label
        display: block
        width: 308px
        color: #FFF
        font-size: 18px
        font-weight: 400

    &__input
        margin-right: 8px
        width: 66px
        color: white
        text-align: center
        font-family: 'Helvetica'
        font-size: 18px
        font-weight: 700
        background: none
        border: none
        border-bottom: 1px solid #ccc

    &__input::placeholder
        color: rgba(255, 254, 254, 0.50)

    &__input:focus
        border: none
        border-bottom: 1px solid #FF5F13
        outline: none

    &__unit
        color: #FFF
        font-size: 18px
        font-weight: 700
