.header
    margin: 0
    color: #FFF
    font-size: 48px
    font-weight: 700
    text-transform: uppercase

.divider
    margin-top: 7px
    background-color: #FF5F13
    width: 362px
    height: 4px
