.header
    margin: 0
    color: #FFF
    font-size: clamp(17px, 2.5vw, 48px)
    font-weight: 700
    text-transform: uppercase

.divider
    margin-top: 7px
    background-color: #FF5F13
    width: clamp(124px, 18.85vw, 362px)
    height: 4px
