.totalCard
    display: flex
    width: clamp(250px,23.44vw, 450px)
    height: clamp(300px, 28.64vw, 550px)
    background: linear-gradient(180deg, rgba(167, 167, 172, 0.13) 0%, rgba(29, 29, 53, 0.90) 100%)
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.50)
    flex-direction: column
    align-items: center

    &__costRub
        padding-top: clamp(35px, 5.21vw, 100px)
        color: #FFF
        font-size: clamp(25px, 2.08vw, 40px)
        font-weight: 700
        text-align: center

    &__label
        width: clamp(200px, 14.95vw, 287px)
        padding-top: clamp(12px, 1.82vw, 35px)
        color: #FFF
        text-align: center
        font-size: clamp(16px, 1.25vw, 24px)
        font-weight: 700

    &__costUsd
        color: #FFF
        margin-top: clamp(30px, 4vw, 50px)
        font-size: clamp(25px, 2vw, 40px)
        font-weight: 700
