.comment
    width: 795px

    &__title
        margin: 0
        color: #FF5F13
        font-size: 18px
        font-weight: 400
    &__list
        padding: 0
        margin: 0
        &-item
            color: #FFF
            font-size: 18px
            font-weight: 400
        li::marker
            color: #FF5F13
    span
        color: #FF5F13
.comment__standart
    margin-top: 51px
    margin-bottom: 38px
.comment__admin
    width: 795px
    margin-top: 70px
    margin-bottom: 51px
    li::marker
        color: #FFF
