.btn-admin
    width: clamp(160px, 13.59vw, 261px)
    height: clamp(35px, 2.34vw, 45px)
    border-radius: 4px
    background: #FF5F13
    color: #FFF
    font-size: clamp(12px, 0.94vw, 18px)
    font-weight: 400
    margin-top: clamp(30px, 2.6vw, 50px)
