*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Helvetica-Neue', sans-serif;
  font-style: normal; 
  line-height: normal;
}


input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
input[type="number"] { -moz-appearance: textfield; }
body {
  padding: 0;
  margin: 0;
  
}
