.contentRequiredWorks
    padding: clamp(20px, 2vw,50px) clamp(20px, 2vw,50px) clamp(12px, 2vw,38px) clamp(20px, 2vw,50px)

    &__title
        margin: 0
        padding-top: clamp(20px, 3vw, 37px)
        color: #FFF
        font-size: clamp(16px, 1.25vw, 24px)
        font-weight: 700
        text-decoration-line: underline
        text-decoration-style: solid
        text-decoration-skip-ink: none
        text-decoration-thickness: auto
        text-underline-offset: auto
    &__listItems
        padding-top: 14px
        column-count: 2
        column-gap: clamp(10px, 2vw, 90px)
        @media screen and (max-width: 1280px)
            &
                column-count: 1
        @media screen and (max-width: 768px)
            &
                column-count: 2
        @media screen and (max-width: 720px)
            &
                column-count: 1

    &__comment
        margin-top: clamp(20px, 2.66vw, 51px)
        margin-bottom: clamp(15px, 1.98vw, 38px)
