.contentRequiredWorks
    padding: 50px 50px 38px 50px

    &__title
        margin: 0
        padding-top: 37px
        color: #FFF
        font-size: 24px
        font-weight: 700
        text-decoration-line: underline
        text-decoration-style: solid
        text-decoration-skip-ink: none
        text-decoration-thickness: auto
        text-underline-offset: auto
    &__listItems
        padding-top: 14px
        column-count: 2
        column-gap: 30px

    &__comment
        margin-top: 51px
        margin-bottom: 38px
